<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>projectl2</display-name>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ControllerAdminActicle</servlet-name>
    <servlet-class>controller.ControllerAdminActicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminActicle</servlet-name>
    <url-pattern>/admin/acticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddActicle</servlet-name>
    <servlet-class>controller.ControllerAdminAddActicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddActicle</servlet-name>
    <url-pattern>/admin/addacticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDanhMuc</servlet-name>
    <servlet-class>controller.ControllerAdminDanhMuc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDanhMuc</servlet-name>
    <url-pattern>/admin/danhmuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDelCat</servlet-name>
    <servlet-class>controller.ControllerAdminDelCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDelCat</servlet-name>
    <url-pattern>/admin/delcat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddCat</servlet-name>
    <servlet-class>controller.ControllerAdminAddCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddCat</servlet-name>
    <url-pattern>/admin/addcat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminProject</servlet-name>
    <servlet-class>controller.ControllerAdminProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminProject</servlet-name>
    <url-pattern>/admin/project</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditProject</servlet-name>
    <servlet-class>controller.ControllerAdminEditProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditProject</servlet-name>
    <url-pattern>/admin/editproject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDelPro</servlet-name>
    <servlet-class>controller.ControllerAdminDelPro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDelPro</servlet-name>
    <url-pattern>/admin/delpro</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDanhNgon</servlet-name>
    <servlet-class>controller.ControllerAdminDanhNgon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDanhNgon</servlet-name>
    <url-pattern>/admin/danhngon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddPro</servlet-name>
    <servlet-class>controller.ControllerAdminAddPro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddPro</servlet-name>
    <url-pattern>/admin/addpro</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDelSay</servlet-name>
    <servlet-class>controller.ControllerAdminDelSay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDelSay</servlet-name>
    <url-pattern>/admin/delsay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditSay</servlet-name>
    <servlet-class>controller.ControllerAdminEditSay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditSay</servlet-name>
    <url-pattern>/admin/editsay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAdvs</servlet-name>
    <servlet-class>controller.ControllerAdminAdvs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAdvs</servlet-name>
    <url-pattern>/admin/advs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddSay</servlet-name>
    <servlet-class>controller.ControllerAdminAddSay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddSay</servlet-name>
    <url-pattern>/admin/addsay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditAdvs</servlet-name>
    <servlet-class>controller.ControllerAdminEditAdvs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditAdvs</servlet-name>
    <url-pattern>/admin/editadvs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDelAdvs</servlet-name>
    <servlet-class>controller.ControllerAdminDelAdvs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDelAdvs</servlet-name>
    <url-pattern>/admin/deladvs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddAdvs</servlet-name>
    <servlet-class>controller.ControllerAdminAddAdvs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddAdvs</servlet-name>
    <url-pattern>/admin/addadvs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminContact</servlet-name>
    <servlet-class>controller.ControllerAdminContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminContact</servlet-name>
    <url-pattern>/admin/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDelCon</servlet-name>
    <servlet-class>controller.ControllerAdminDelCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDelCon</servlet-name>
    <url-pattern>/admin/delcon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminInfor</servlet-name>
    <servlet-class>controller.ControllerAdminInfor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminInfor</servlet-name>
    <url-pattern>/admin/infor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditActicle</servlet-name>
    <servlet-class>controller.ControllerAdminEditActicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditActicle</servlet-name>
    <url-pattern>/admin/editacticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDelActicle</servlet-name>
    <servlet-class>controller.ControllerAdminDelActicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDelActicle</servlet-name>
    <url-pattern>/admin/delacticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminSlide</servlet-name>
    <servlet-class>controller.ControllerAdminSlide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminSlide</servlet-name>
    <url-pattern>/admin/slide</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddSlide</servlet-name>
    <servlet-class>controller.ControllerAdminAddSlide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddSlide</servlet-name>
    <url-pattern>/admin/addslide</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditSlide</servlet-name>
    <servlet-class>controller.ControllerAdminEditSlide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditSlide</servlet-name>
    <url-pattern>/admin/editslide</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDelSlide</servlet-name>
    <servlet-class>controller.ControllerAdminDelSlide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDelSlide</servlet-name>
    <url-pattern>/admin/delslide</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminWorks</servlet-name>
    <servlet-class>controller.ControllerAdminWorks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminWorks</servlet-name>
    <url-pattern>/admin/works</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddWork</servlet-name>
    <servlet-class>controller.ControllerAdminAddWork</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddWork</servlet-name>
    <url-pattern>/admin/addwork</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditWork</servlet-name>
    <servlet-class>controller.ControllerAdminEditWork</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditWork</servlet-name>
    <url-pattern>/admin/editwork</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDelWork</servlet-name>
    <servlet-class>controller.ControllerAdminDelWork</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDelWork</servlet-name>
    <url-pattern>/admin/delwork</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminUser</servlet-name>
    <servlet-class>controller.ControllerAdminUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminUser</servlet-name>
    <url-pattern>/admin/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddUser</servlet-name>
    <servlet-class>controller.ControllerAdminAddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddUser</servlet-name>
    <url-pattern>/admin/adduser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPublicIndex</servlet-name>
    <servlet-class>controller.ControllerPublicIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicIndex</servlet-name>
    <url-pattern>/public/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPublicAjaxContact</servlet-name>
    <servlet-class>controller.ControllerPublicAjaxContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicAjaxContact</servlet-name>
    <url-pattern>/public/ajax/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPublicDetail</servlet-name>
    <servlet-class>controller.ControllerPublicDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicDetail</servlet-name>
    <url-pattern>/public/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPublicActicleOfCat</servlet-name>
    <servlet-class>controller.ControllerPublicActicleOfCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicActicleOfCat</servlet-name>
    <url-pattern>/public/acticleofcat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPublicFind</servlet-name>
    <servlet-class>controller.ControllerPublicFind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicFind</servlet-name>
    <url-pattern>/public/find</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAjaxActicle</servlet-name>
    <servlet-class>controller.ControllerAdminAjaxActicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAjaxActicle</servlet-name>
    <url-pattern>/admin/ajax/acticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminLogin</servlet-name>
    <servlet-class>controller.ControllerAdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminLogin</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminTrangChu</servlet-name>
    <servlet-class>controller.ControllerAdminTrangChu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminTrangChu</servlet-name>
    <url-pattern>/admin/trangchu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditUser</servlet-name>
    <servlet-class>controller.ControllerAdminEditUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditUser</servlet-name>
    <url-pattern>/admin/edituser</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ControllerAdminDelUser</servlet-name>
    <servlet-class>controller.ControllerAdminDelUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDelUser</servlet-name>
    <url-pattern>/admin/deluser</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ControllerAdminLogout</servlet-name>
    <servlet-class>controller.ControllerAdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminLogout</servlet-name>
    <url-pattern>/admin/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditCat</servlet-name>
    <servlet-class>controller.ControllerAdminEditCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditCat</servlet-name>
    <url-pattern>/admin/editcat</url-pattern>
  </servlet-mapping>
  
</web-app>